.body{
    background-color: tomato;
}
.logo {
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
    height: 70px;

}

.first-page {
    background-image: url("Delani studio images/h_img.jpg");
    font-family: Electrolize;
    padding: 15%;
}
.second-page{
    font-family: Electrolize;
}
.about {
    padding: 9%;
}


.services {
    background-image: url("Delani studio images/s_image.jpg");
    padding: 9%;
    color: white;


}
.contact-us {
    background-image: url("Delani studio images/c_image.jpg");

}